// Theme colors
$main-grey: #2f3e4e;
$dark-grey: #1e2c3a;
$light-grey: #617489;
$main-white: #f0efe5;

 .boxShadowed {
//   margin-top: 100px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: $dark-grey;
//   box-shadow: inset 0px -4px 30px rgba(0, 0, 0, 0.15),
//     inset 0px 4px 30px rgba(0, 0, 0, 0.15);
}

.homepageTitle {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  color: $main-white;
}

.main-graphic {
  animation: opac 4s;
  height: 30vh;
}

@keyframes opac {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

a.homepage-link {
  color: $main-white;
}

a.homepage-link:hover {
  text-decoration: none !important;
  color: $light-grey;
}

.list-group-item {
  background-color: #f0f1f2;
  padding: 0.5rem;
}

.card {
  border: none;
  background-color: $main-grey;
  color: $dark-grey;
}

.card-title {
  background-color: #f0f1f2;
  padding: 1rem;
}

.card-body {
  padding: 0;
}

.industry-card {
  & :hover {
    cursor: pointer;
  }
}
