.boxShadowed {
    margin-top: 100px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #1E2C3A;
    box-shadow: inset 0px -4px 30px rgba(0, 0, 0, 0.15),
    inset 0px 4px 30px rgba(0, 0, 0, 0.15);
}

.homepageTitle {
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: #F0EFE5;
}