.news-tab{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px 10px;
  grid-auto-rows: 250px;
  margin-right: 100px;
  margin-left: 100px;
}

#panel1 {
  grid-column-end: span 2;
}
#panel2 {
  grid-column-end: span 2;
}
#panel3 {
  grid-column-end: span 2;
}
#panel4 {
  grid-column-end: span 4;
  grid-row-end: span 2;
}
#panel5 {
  grid-column-end: span 2;
}
#panel6 {
  grid-column-end: span 2;
}
#panel7 {
  grid-column-end: span 3;
}
#panel8 {
  grid-column-end: span 3;
}