body,
header {
  font-family: "Noto Sans", sans-serif;
  background-color: #2f3e4e;
  color: #f0efe5;
}

.title {
  font-family: "Roboto Mono", monospace !important;
  font-size: 3rem;
}

.main-bg {
  background-color: #2f3e4e;
}

.people-accordion > .card,
.card-header {
  background-color: #2f3e4e;
  border-style: none;
}
