// Theme colors
$main-grey: #2f3e4e;
$dark-grey: #1e2c3a;
$light-grey: #617489;
$main-white: #f0efe5;

// Inset shadow settings
$shadow-color: rgba(0, 0, 0, 0.3);
$inset-top: inset 0 20px 30px -20px $shadow-color;
$inset-bottom: inset 0 -20px 30px -20px $shadow-color;
$inset-shadow: $inset-top, $inset-bottom;

// Image/icon imports
$github: url(./components/tools/Icons/github.svg);
$github-hover: url(./components/tools/Icons/github-hover.svg);
$linkedin: url(./components/tools/Icons/linkedin.svg);
$linkedin-hover: url(./components/tools/Icons/linkedin-hover.svg);

$daml: url(./components/homepage/images/DAML-logo-square.svg);
$daml-hover: url(./components/homepage/images/DAML-logo-square-hover.svg);

body,
header {
  font-family: "Noto Sans", sans-serif;
  background-color: $main-grey;
  color: $main-white;
}

.title {
  font-family: "Roboto Mono", monospace !important;
  font-size: 2rem;
}

h3,
h4 {
  font-family: "Roboto Mono", monospace !important;
}

.main-bg {
  background-color: #2f3e4e;
}

.people-accordion > .card .card-header {
  width: 100%;
  background-color: $main-grey;
  border-style: none;
  color: $main-white !important;
  & :hover {
    text-decoration: none !important;
  }
  border: none;
}

.person-image {
  :hover,
  :focus {
    cursor: pointer;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  }
}

.person-details {
  background-color: $dark-grey;
  height: 100%;
  margin: 0;
}

.person-details-text {
  animation: opac 1s;
  font-size: 1.2rem;
  clear: left;
}

.inset {
  -moz-box-shadow: $inset-shadow;
  -webkit-box-shadow: $inset-shadow;
  box-shadow: $inset-shadow;
}

@keyframes opac {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.icon {
  height: 2rem;
  width: 2rem;
  margin: 0.1rem;
  & :hover,
  :focus {
    cursor: pointer;
  }
  background-repeat: no-repeat;
  & :active {
    box-shadow: 0 5px 5px black;
  }
  justify-content: center;
}

.github-icon {
  @extend .icon;
  background-image: $github;
}

.github-icon:hover {
  background-image: $github-hover !important;
  cursor: pointer;
}

.linkedin-icon {
  @extend .icon;
  background-image: $linkedin;
}

.linkedin-icon:hover {
  background-image: $linkedin-hover !important;
  cursor: pointer;
}

.daml-icon {
  @extend .icon;
  height: 3rem !important;
  width: 3rem !important;
  background-image: $daml;
}

.daml-icon:hover {
  background-image: $daml-hover !important;
  cursor: pointer;
}

a.homepage-link {
  color: $main-white;
}

.box-shadowed {
  padding-top: 30px;
  padding-bottom: 30px;
  min-height: 15vh;
  background-color: $dark-grey;
  box-shadow: inset 0px -4px 30px rgba(0, 0, 0, 0.15),
    inset 0px 4px 30px rgba(0, 0, 0, 0.15);
}

.footer {
  font-family: "Roboto Mono", monospace;
  padding-top: 1rem;
  padding-bottom: 1rem;
  height: 12vh;
  background-color: $dark-grey;
}

.theme-button {
  background-color: $dark-grey;
  border: none;
  & :hover,
  :focus {
    background-color: $light-grey;
  }
}

.theme-button.btn:hover {
  background-color: $main-grey;
}

.theme-button.btn:active {
  background-color: $dark-grey !important;
}

.card-body.project-card {
  background-color: #f0f1f2;
  padding: 1rem;
}

.card,
.card-body,
.image {
  border: none;
  color: $dark-grey;
}

.card-body.individual-project-card {
  background-color: #f0f1f2;
}
